body {
    background: #222;
    color: #fff;
    position: relative;
}

.centerForm {
    position: absolute;
    top: 50%;
    down: 25%;
    left: 25%;
    right: 25%;
    width: 50%;
    margin: auto;
}